*.sh            text eol=lf
*.ac            text eol=lf
*.am            text eol=lf
*.in            text eol=lf
*.c             text eol=lf
*.h             text eol=lf
*.y             text eol=lf
*.skeleton      text eol=lf
*.md            text eol=lf
*.m4            text eol=lf
*README*        text eol=lf
NEWS            text eol=lf
ChangeLog       text eol=lf
INSTALL         text eol=lf
*.1             text eol=lf
*.sgml          text eol=lf
Makefile        text eol=lf
configure       text eol=lf

# Xcode
*.pbxproj       text eol=crlf
.* icns         binary

# Visual Studio
*.csproj        text eol=crlf
*.vbproj        text eol=crlf
*.fsproj        text eol=crlf
*.dbproj        text eol=crlf
*.vcproj        text eol=crlf
*.vcxproj       text eol=crlf
*.filter        text eol=crlf
*.vsprops       text eol=crlf
*.sln           text eol=crlf
*.dsw           text eol=crlf
*.dos           text eol=crlf
