*.bak
*~
*.o
*.a
*.depend
*.layout
*.res
*.user
*.ncb

build/msvc2010/bin/
build/msvc2010/obj/
build/msvc2010/ipch/

build/msvc2008/bin/
build/msvc2008/obj/
build/msvc2008/ipch/

*.suo
*.sdf
*.opensdf
